/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body,
login {
  line-height: 1;
  background-color: rgb(255, 254, 248);
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

header a {
  text-decoration: none;
  /* Supprime le soulignement */
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}

#introduction {
  display: flex;
  align-items: center;
}

#introduction figure {
  flex: 1;
}

#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}

#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

#portfolio h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 1em;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 80px;
}

.gallery figure {
  position: relative;
  overflow: hidden;
}

.gallery img {
  width: 100%;
}

.gallery figure img {
  object-fit: cover;
  object-position: center;
  height: 505.25px;
  transition: transform 0.3s ease;
}

.gallery figure img:hover {
  transform: scale(1.2);
}

/* ********************************************************************* */
.filter {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  margin: 50px auto;
  justify-content: center;
  margin-top: 60px;
}

.btn {
  border-radius: 60px;
  padding: 1.2em 1.8em;
  font-family: "Syne";
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #1d6154;
  color: #1d6154;
  background: none;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #1d6154;
  color: #fffef8;
  cursor: pointer;
  transform: scale(1.05);
}

.active {
  background: #1d6154;
  color: #fffef8;
}

#loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Permet aux éléments de s'aligner correctement */
}

#loginForm label {
  text-align: left;
  /* Assure que le texte du label est bien à gauche */
  width: 100%;
  /* S'assure que les labels occupent toute la largeur disponible */
}

#loginForm h2 {
  margin-bottom: 20px;
}

#loginForm form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#loginForm input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  width: 379px;
  /* Fixe la largeur des champs */
}

#loginForm input[type="email"],
#loginForm input[type="password"] {
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  text-align: left;
  /* Alignement du texte dans le champ */
  width: 379px;
  /* Fixe la largeur des champs */
}

#loginForm input[type="submit"] {
  width: 179px;
  height: 36px;
  opacity: 1;
  /* Suppression de `opacity: 0px;` qui est une erreur (0 rendrait le bouton invisible) */
  text-align: center;
  /* Centrer le texte dans le bouton */
  font-size: 14px;
}

#loginForm label {
  margin: 2em 0 1em 0;
  margin-bottom: 10px;
  /* Supprime l'espace entre le label et le champ */
}

#loginForm textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  width: 379px;
  /* Fixe la largeur des champs */
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  border-radius: 60px;
}

footer {
  background-color: white;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#footerLogin {
  bottom: 0;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* **** Page Login **** */

.selectedMenu {
  font-weight: bold;
  cursor: not-allowed;
}

form input,
form textarea {
  padding: 0 20px;
}

#email,
#password {
  color: #1d6154;
  font-weight: bold;
  outline: none;
}

#email:focus,
#password:focus {
  border: 2px solid #1d6154;
  border-radius: 5px;
}

.loginError,
.passwordError {
  margin-top: 15px;
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 1.5em;
}

.forgotPassword {
  text-decoration: underline;
}