/* ====================================================
   VARIABLES GLOBALES
   ==================================================== */
:root {
  --primary-color: #1d6154;
  --secondary-color: #b1663c;
  --bg-color: rgb(255, 254, 248);
  --hover-bg: #144d42;
  --font-main: "Work Sans";
  --font-alt: "Syne";
}

/* ====================================================
     RESET CSS & STYLES GLOBAUX (inspiré de Meyer Reset v2.0)
     ==================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body,
login {
  line-height: 1;
  background-color: var(--bg-color);
  max-width: 1140px;
  margin: auto;
  font-family: var(--font-main);
  font-size: 14px;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: inherit;
}

/* ====================================================
     STRUCTURE DE BASE
     ==================================================== */
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

header a {
  text-decoration: none;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: var(--font-alt);
  font-size: 22px;
  font-weight: 800;
  color: var(--secondary-color);
}

h1 > span {
  font-family: var(--font-main);
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: var(--font-alt);
  font-weight: 700;
  font-size: 30px;
  color: var(--primary-color);
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

nav li:hover,
li:hover {
  color: var(--secondary-color);
}

/* ====================================================
     INTRODUCTION, PORTFOLIO & GALERIE
     ==================================================== */
#introduction {
  display: flex;
  align-items: center;
}

#introduction figure,
#introduction article {
  flex: 1;
}

#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  font-size: 18px;
}

#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

#portfolio h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 1em;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 80px;
}

.gallery figure {
  position: relative;
  overflow: hidden;
}

.gallery img {
  width: 100%;
}

.gallery figure img {
  object-fit: cover;
  object-position: center;
  height: 505.25px;
  transition: transform 0.3s ease;
}

.gallery figure img:hover {
  transform: scale(1.2);
}

.delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}

.footerModal {
  margin-top: 20px;
}

.add-photo-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 237px;
  height: 36px;
}

.add-photo-btn:hover {
  background-color: var(--hover-bg);
}

#closeModal {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  z-index: 10000;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 60px auto;
  justify-content: center;
}

.btn {
  border-radius: 60px;
  padding: 1.2em 1.8em;
  font-family: var(--font-alt);
  font-size: 16px;
  font-weight: 700;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 37px;
}

.btn:hover {
  background-color: var(--primary-color);
  color: #fffef8;
  cursor: pointer;
  transform: scale(1.05);
}

.active {
  background: var(--primary-color);
  color: #fffef8;
}

/* ====================================================
     PAGE DE CONNEXION (LOGIN)
     ==================================================== */
#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

#login h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

#loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loginForm label {
  width: 100%;
  text-align: left;
  margin: 2em 0 10px;
}

#loginForm h2 {
  margin-bottom: 20px;
}

#loginForm form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

#loginForm input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  width: 379px;
}

#loginForm input[type="email"],
#loginForm input[type="password"] {
  font-size: 16px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  text-align: left;
}

#loginForm input[type="submit"],
input[type="submit"] {
  font-family: var(--font-alt);
  font-weight: 700;
  color: white;
  background-color: var(--primary-color);
  margin: 2em auto;
  width: 180px;
  border-radius: 60px;
  font-size: 14px;
  height: 36px;
  text-align: center;
}

#loginForm textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  width: 379px;
}

.loginError,
.passwordError {
  margin-top: 15px;
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 1.5em;
}

.passwordError {
  display: none;
}

.forgotPassword {
  text-decoration: underline;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

/* ====================================================
     FOOTER, ADMIN EDITOR, MODAL & PAGE D'ÉDITION
     ==================================================== */
footer {
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 1440px;
  position: relative;
  bottom: 0;
  left: 0;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
  padding-right: 50px;
}

.flagEditor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 59px;
  width: 100%;
}

.marginTop {
  margin-top: 100px;
}

.fa-regular,
.projectRemove {
  color: white;
  font-size: 16px;
}

.projectRemove > i,
#titleProjectRemove i {
  padding-right: 10px;
}

#titleProjectRemove {
  font-family: var(--font-main);
  font-weight: normal;
  color: black;
  font-size: 14px;
  padding-left: 20px;
}

#titleProjectRemove:hover {
  cursor: pointer;
}

#titleProjectRemove i {
  padding-right: 10px;
  color: black;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modalOpen {
  overflow: hidden;
}

#modalContainer {
  position: relative;
  background-color: white;
  width: 50%;
  max-width: 800px;
  border-radius: 10px;
  padding: 40px 20px;
  text-align: center;
}

#closeModal,
#previewModal {
  position: absolute;
  top: 24px;
  font-size: 24px;
}

#closeModal {
  right: 20px;
  color: black;
}

#previewModal {
  left: 20px;
  display: none;
}

#closeModal:hover,
#previewModal:hover {
  cursor: pointer;
}

.modalTemplate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 700px;
  margin: 0;
  padding: 0 15%;
}

.modalTitle {
  color: black;
  text-align: center;
  padding-bottom: 40px;
}

.iconModal {
  display: inline-block;
  font-size: 0.7em;
  padding: 4px;
  background-color: black;
  color: white;
}

#editionGallery {
  height: 70%;
}

#modalGrid {
  width: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
  row-gap: 25px;
}

#modalGrid > figure {
  position: relative;
}

#modalGrid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#deleteIcon {
  position: absolute;
  top: 3px;
  right: 3px;
}

#deleteIcon:hover {
  cursor: pointer;
}

#moveIcon {
  position: absolute;
  top: 3px;
  right: 23px;
}

#moveIcon:hover {
  cursor: move;
}

.footerModal {
  margin-top: 20px;
  text-align: center;
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

hr {
  width: 100%;
}

.modalTemplate input[type="submit"],
.modalTemplate input[type="button"] {
  width: 60%;
  text-align: center;
  padding: 10px 45px;
}

#deleteAllWorks {
  color: red;
  margin-bottom: 40px;
}

#deleteAllWorks:hover {
  cursor: pointer;
}

#editSection {
  align-items: center;
}

#editWorks {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#addImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(232, 241, 246);
  height: 40%;
  width: 100%;
  padding: 20px 0;
  margin-bottom: 40px;
}

#addImageContainer img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

#addImageContainer i {
  font-size: 8em;
  color: rgba(185, 197, 204);
  z-index: 4000;
}

#errorImg {
  text-align: center;
  color: red;
  font-size: 14px;
  text-transform: uppercase;
}

input[type="submit"],
.fileLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  text-align: center;
  font-weight: bold;
  line-height: normal;
  position: relative;
}

input[type="submit"] span,
.fileLabel span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.file-input {
  display: none;
}

#addTitle,
#addCategory {
  height: 15%;
  width: 100%;
}

.inputEdit {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputEdit label {
  padding-bottom: 10px;
  font-size: 16px;
}

.inputCss {
  height: 30px;
  border: 0;
  box-shadow: 8px 10px 23px 1px rgba(0, 0, 0, 0.34);
  background-color: transparent;
  outline: none;
  padding: 0 20px;
}

.editFooter {
  margin-top: 0;
}

#editWorks input[type="submit"] {
  font-size: 18px;
  background-color: rgb(167, 167, 167);
}

.errormsg {
  text-align: center;
  padding-top: 20px;
  color: red;
}
